/* Styles for Mobile Resolution */
/* Home */
#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}

/* About */
#pic img{
    width: 275px;
    height: 175px;
}

#intro h2{
    font-size: .75rem;
}
#intro .table{
    width: 50%;
}

/* portifolio */
.gallery img{
    width: 250px;
    height: 150px;
    margin: 10px;
}

/* contacts */

.input{
    width: 80%;
}
#msg{
    width: 70%;
}
#send{
    width: 20%;
}
